[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.13.2"
fastapi = "*"
uvicorn = "*"
requests ="*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"

[scripts]
start = "uvicorn src.main:app --reload"
lint = "flake8 . --count --show-source --statistics --exclude tests"
test = "pytest -v --cov=. --capture=sys"
